{% load static %}
{% load active_link_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'shared/head_ref.html' %}

</head>

<body>
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

{% include 'shared/header.html' %}

{% block content %}
{% endblock %}

{% include 'shared/footer.html' %}

{% include 'shared/foot_ref.html' %}
</body>

</html>
